/*BASE STYLES*/

body {
  font-family: 'Open sans', sans-serif;
}

/*GRID*/

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float:left;

}

.third-width {
  width: 400px;
  float: left;
}

/*HEADER*/


header {
    height: 800px;
    background-color: #ffffff;
    color: #313131;
    float: left;
    padding: 65px 0 65px 25px;
}

header h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 64px;
  color: #313131;
  /*float:left;*/
  /*padding: 65px 0 65px 25px;*/
}

nav {
    float: right; 
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
    word-spacing: 25px;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    
    padding-left: 80px; 
}

header h2 {
    width: 970px;
    /*clear: both;*/
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #2b2b2b;
}
/*ABOUT*/

#about {
  background-color: #ff654a;
  text-align: center;
}

#about .full-width {
  padding: 80px 0;
  
}

#about h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  color:#ffffff;
  font-weight: bold;
}

#about p {
  font-size: 21px;
  color: #ffffff;
  line-height: 40px;
  padding-left:  50px;
  padding-right: 50px;
}

/*WORK*/

#work {
  background-color: #ffffff;
  text-align: center;
}

#work .full-width {
  padding: 115px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h2 {
  font-size: 36px;
  line-height:32px;
  width: 190px;
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
}

#work h3 {
  font-weight: bold;
}

#work p {
  font-family: 'Open sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0 50px;
}

/*CONTACT*/

#contact {
  background-color: #ff654a;
  text-align: center;
  color: #ffffff;
}

#contact .full-width {
  padding: 110px 0;
}

#contact h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  color:#ffffff;
  font-weight: bold;
}

#contact p {
  font-family: 'Open sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0 50px;
}

#contact h3 {
  font-weight: bold;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}





















